* {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    background-color: #FFF;
    display: block;
}